nav ul, nav li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
    margin-right: 1rem;
}

nav li {
    font-size: 5rem;
}

@media (min-width: 600px) {
    nav li {
        font-size: 2rem;
    }
}

.center-text {
    text-align: center;
}

.border-solid {
    border: .2rem solid #B71C1C;
}

.padding5 {
    padding: 5rem;
}

nav {
    margin-bottom: 2rem;
    font-size: 100%;
}

nav a:link, a:visited {
    color: #9E9E9E;
    text-decoration: none;
}

nav a:hover {
    color: #424242;
    text-decoration: none;
}

.reduce-padding-heading {
    padding-bottom: .1rem;
}

body {
    background-color: #FAFAFA;
}

header {
    margin-top: 2rem;
}

.heading {
    color: #B71C1C;
}

.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    padding: 1rem;
}

.flexitem {
    max-width: 50%;
}

.enter-btn {
    background-color: #F44336;
}

.enter-btn:hover {
    background-color: #B71C1C;
}

h5 {
    padding: 0rem;
}

.subheading {
    padding-bottom: 2rem;
}

.project {
    margin-bottom: 1rem;
}

.left {
    float: left;
}
.right {
    float: right;
}
