nav ul, li {
    display: inline;
    list-style-type: none;
    margin:0px;
}

nav {
    margin-bottom: 2rem;
}

nav a:link, a:hover, a:visited {
    color: #F44336;
    text-decoration: none;
}

h1, h5 {
    margin: 0px;
}

body {
    background-color: #FAFAFA;
}

header {
    color: #9C27B0;
}
