.center-text {
    text-align: center;
}

.border-solid {
    border: .2rem solid #4CAF50;
    margin: 1rem 0rem;
}

body {
    background-color: #E8F5E9;
}

h1 {
    color: #4CAF50;
    font-size: 10rem;
    padding-bottom: 5rem;
}

h2 {
    background-color: #4CAF50;
    padding: .1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.half {
    width: 49.25%;
}

.ib {
    display: inline-block;
}

ul {
    column-count: 2;
}

.c {
    text-align: left;
}

.c li {
    margin-left: 1rem;
}

.big-column {
    column-count: 4;
}

#big-corpus {
    text-align: left;
    padding: 1rem;
}

#corpus {
    text-align: left;
}

.left-align {
    text-align: left;
}

.colorblock {
    width: 2rem;
    height: 2rem;
    margin: .2rem;
    display: inline-block;
}

.blue {
    background-color: #2196F3;
}

.red {
    background-color: #F44336;
}

.white {
    background-color: #FFFFFF;
}

.orange {
    background-color: #FF9800;
}

.black {
    background-color: #000000;
}

.green {
    background-color: #4CAF50;
}

.gray {
    background-color: #9E9E9E;
}

.yellow {
    background-color: #FFEB3B;
}

.purple {
    background-color: #9C27B0;
}

.beige {
    background-color: #EFEBE9;
}
